// max width for mobile version of the site
$media__mobile__max-width: 700px;

// fonts
$general__font-family: "Violet Sans";
$appmenu__header__font-family: "Chango";
$general__font-family--handwriting1: "Schoolbell";
$general__font-family--handwriting2: "Just Me Again Down Here";

// font sizes
$appmenu__font-size--lg: 1.7rem;
$appmenu__section-header__font-size--lg: 1.3rem;
$appmenu__active-header__font-size--lg: 2.2rem;
$photo__close__font-size--lg: 1.3rem;
$tool-panel__element__size--lg: 1.3rem;

$appmenu__font-size--sm: 2rem;
$appmenu__section-header__font-size--sm: 1.5rem;
$appmenu__active-header__font-size--sm: 2rem;
$photo__close__font-size--sm: 1.5rem;
$tool-panel__element__size--sm: 1.5rem;

// padding
$general__padding--default: 1rem;

// transitions
$general__transition-func--default: cubic-bezier(0.8, 0.2, 0.1, 0.8);
$general__transition--02s: 0.2s $general__transition-func--default;
$general__transition--03s: 0.3s $general__transition-func--default;

// colors
$general__color--white: #f8f8f8;
$general__color--black: #1a1a1a;

:export {
  mediaMobileMaxWidth: $media__mobile__max-width;
  whiteColor: $general__color--white;
  blackColor: $general__color--black;
}
