$primary-font-family: "Fraunces";
$secondary-font-family: "Chango";
$handwriting-font-family: "Schoolbell"; // "Just Me Again Down Here"

$default-font-size-lg: 2rem;
$default-font-size-sm: 1.5rem;

$default-transition-func: cubic-bezier(0.8, 0.2, 0.1, 0.8);
$default-transition: 0.2s $default-transition-func;

$background-color: #fefefe;
$font-color: #1f1f1f;
$accent-color: #f52d09;
