// max width for mobile version of the site
$media-mobile-max-width: 700px;

// fonts
$primary-font-family: "Fraunces";
$secondary-font-family: "Chango";
$handwriting1-font-family: "Schoolbell";
$handwriting2-font-family: "Just Me Again Down Here";

// font sizes
$appmenu-font-size: 2.1rem;
$appmenu-section-header-font-size: 1.5rem;
$photo-close-font-size: 1.5rem;
$photo-caption-font-size: 1.5rem;

// padding
$default-padding: 1rem;

// transitions
$default-transition-func: cubic-bezier(0.8, 0.2, 0.1, 0.8);
$default-transition: 0.2s $default-transition-func;

// colors
$white-color: #fefefe;
$black-color: #1f1f1f;

$background-color: $white-color;
$font-color: $black-color;
$accent-color: #f52d09;

// colors for blend mode
$background-exclde-font-color: #dfdfdf; // $background-color - $font-color
$background-exclde-accent-color: #09d1f5; // $background-color - $accent-color

:export {
  mediaMobileMaxWidth: $media-mobile-max-width;
  whiteColor: $white-color;
  blackColor: $black-color;
}
