@use "~/assets/scss/variables" as vars;

html {
  font-family: vars.$primary-font-family, serif;
  font-size: 16px;
  text-size-adjust: 100%;
  box-sizing: border-box;
  overflow: auto;
}

body {
  margin: 0;
  background: vars.$background-color;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

menu {
  padding: 0;
  margin: 0;
}

figure {
  padding: 0;
  margin: 0;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

p {
  padding: 0;
  margin: 0;
}

img {
  border-style: none;
  image-rendering: -webkit-optimize-contrast;
}

/* disables scroll on element */
.non-scrollable {
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 700px) {
  /* looks better on mobile */
  img {
    image-rendering: auto;
  }
}
