@use "~/assets/scss/variables" as vars;

.opacity-transition-02s-enter-active,
.opacity-transition-02s-leave-active {
  transition: opacity vars.$general__transition--02s;
}
.opacity-transition-03s-enter-active,
.opacity-transition-03s-leave-active {
  transition: opacity vars.$general__transition--03s;
}
.opacity-transition-02s-enter,
.opacity-transition-02s-leave-to,
.opacity-transition-03s-enter,
.opacity-transition-03s-leave-to {
  opacity: 0;
}
