html {
  font-family: "Arapey", "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 14px;
  text-size-adjust: 100%;
  box-sizing: border-box;
  overflow: auto;
}

body {
  margin: 0;
  background: white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

menu {
  padding: 0;
  margin: 0;
}

figure {
  padding: 0;
  margin: 0;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

p {
  padding: 0;
  margin: 0;
}

img {
  border-style: none;
  image-rendering: -webkit-optimize-contrast;
}

/* nuxt root element */
#__nuxt {
  background-image: url("../copyofacopy.svg");
  background-repeat: repeat;
  background-size: 100vw;
}

/* disables scroll on element */
.non-scrollable {
  height: 100%;
  overflow: hidden;
}

/* common css vars */
:root {
  --default-transition-func: cubic-bezier(0.8, 0.2, 0.1, 0.8);
  --default-transition: 0.2s cubic-bezier(0.8, 0.2, 0.1, 0.8);
}

@media only screen and (max-width: 700px) {
  /* looks better on mobile */
  img {
    image-rendering: auto;
  }

  /* adjust background for mobile */
  #__nuxt {
    background-size: 150vw;
  }
}
